# Pandas

## What is Pandas?

Pandas is a python library used for the manipulation and analysis of data. If you have ever done anything with tabular data in python, chances are that you have encountered this package. In this module, we will highlight important Pandas features  as well as manipulate and analyze the MIMIC-III dataset, which we will be using in this course. Some of these features include reading and writing data, slicing and subsetting, merging and joining, and filling in missing data.

The official documentation for pandas can be found [here](http://pandas.pydata.org/pandas-docs/stable/) and is a great resource if you encounter something that you do not understand or would like to reference.

In [2]:
import pandas as pd
import numpy as np

## Pandas Series and DataFrame

Pandas has two main data structures -- the Pandas Series and the Pandas DataFrame. In essence, Pandas Series are 1 dimensional while DataFrames are 2 dimensional. Let's take a look at some examples:

In [14]:
series = pd.Series(data = range(10, 20))
series

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [15]:
series.index

RangeIndex(start=0, stop=10, step=1)

In [18]:
series.index = range(30, 40)
series

30    10
31    11
32    12
33    13
34    14
35    15
36    16
37    17
38    18
39    19
dtype: int64

In [20]:
series.index = ['a', 'b', 'c', 'd', 'e']*2
series

a    10
b    11
c    12
d    13
e    14
a    15
b    16
c    17
d    18
e    19
dtype: int64

In [21]:
series.is_unique

True

In [22]:
series.is_monotonic

True

In [26]:
daterange_index = pd.date_range('01/01/2016', periods = 10, frequency = "D")
daterange_index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [28]:
series.index = daterange_index
series

2016-01-01    10
2016-01-02    11
2016-01-03    12
2016-01-04    13
2016-01-05    14
2016-01-06    15
2016-01-07    16
2016-01-08    17
2016-01-09    18
2016-01-10    19
Freq: D, dtype: int64

For a full list of pandas.Series methods and attributes, see the documentation here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [ ]:
df = pd.DataFrame()

In [3]:
diabetes_df = pd.read_csv('./data/dataset_diabetes/diabetic_data.csv')
ids_mapping = pd.read_csv('./data/dataset_diabetes/IDs_mapping.csv')

## Exploring the data

In [4]:
diabetes_df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
ids_mapping.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [6]:
diabetes_df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [7]:
diabetes_df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [22]:
categorical_vars = [x for x in diabetes_df.columns if diabetes_df[x].dtype == np.dtype('O')]
categorical_vars

['race',
 'gender',
 'age',
 'weight',
 'payer_code',
 'medical_specialty',
 'diag_1',
 'diag_2',
 'diag_3',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'examide',
 'citoglipton',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone',
 'change',
 'diabetesMed',
 'readmitted']

In [27]:
value_count_dict = {x:diabetes_df[x].value_counts() for x in categorical_vars}

In [31]:
[print(x) for x in value_count_dict.values()]

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64
Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64
?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64
?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64
?                                    49949
InternalMedicine                     14635
Emergency/Trauma                      7565
Family/GeneralPractice                7440
Cardiology                            5352
Surgery-General                       3099
Nephrology                            1613
Orthopedics                           1400
Orthopedics-Reconstructive            1233
Radiologist                           1140
Pulmonology                            871
Psychiatry                             854
Urology                                685
ObstetricsandGynecology                671
Surgery-Cardiovascular/Thoracic        652
Gastroenterology                       564
Surgery-Vascular                       533
Surgery-Neuro                          468
PhysicalMedicineandRehabilitation      391
Oncology                               348
Pediatrics                             254
Hematology/Oncology                    207
Neurology                              203
Pediatrics-Endocrinology               159
Otolaryngology                         125
Endocrinology                          120
Surgery-Thoracic                       109
Psychology                             101
Podiatry                               100
Surgery-Cardiovascular                  98
                                     ...
Anesthesiology-Pediatric                19
Obstetrics                              19
Rheumatology                            17
Pathology                               17
Anesthesiology                          12
OutreachServices                        12
Surgery-Colon&Rectal                    11
PhysicianNotFound                       11
Surgery-Maxillofacial                   11
Pediatrics-Neurology                    10
Surgery-Pediatric                        8
Endocrinology-Metabolism                 8
Psychiatry-Child/Adolescent              7
AllergyandImmunology                     7
Cardiology-Pediatric                     7
DCPTEAM                                  6
Dentistry                                4
Pediatrics-Hematology-Oncology           4
Pediatrics-EmergencyMedicine             3
Pediatrics-AllergyandImmunology          3
Resident                                 2
Psychiatry-Addictive                     1
SportsMedicine                           1
Speech                                   1
Neurophysiology                          1
Surgery-PlasticwithinHeadandNeck         1
Perinatology                             1
Dermatology                              1
Pediatrics-InfectiousDiseases            1
Proctology                               1
Name: medical_specialty, Length: 73, dtype: int64
428       6862
414       6581
786       4016
410       3614
486       3508
427       2766
491       2275
715       2151
682       2042
434       2028
780       2019
996       1967
276       1889
38        1688
250.8     1680
599       1595
584       1520
V57       1207
250.6     1183
518       1115
820       1082
577       1057
493       1056
435       1016
562        989
574        965
296        896
560        876
250.7      871
250.13     851
          ...
V51          1
605          1
365          1
217          1
61           1
V60          1
10           1
919          1
804          1
477          1
906          1
911          1
976          1
V67          1
160          1
57           1
375          1
827          1
982          1
84           1
988          1
640          1
V25          1
299          1
389          1
649          1
903          1
698          1
543          1
994          1
Name: diag_1, Length: 717, dtype: int64
276       6752
428       6662
250       6071
427       5036
401       3736
496       3305
599       3288
403       2823
414       2650
411       2566
250.02    2074
707       1999
585       1871
584       1649
491       1545
250.01    1523
285       1520
780       1491
425       1434
682       1433
486       1379
518       1355
424       1071
413       1042
250.6      895
493        881
305        702
786        644
280        606
998        571
          ...
E900         1
388          1
V13          1
180          1
E883         1
46           1
114          1
968          1
748          1
350          1
615          1
529          1
302          1
E945         1
115          1
475          1
35           1
163          1
V03          1
E868         1
66           1
111          1
879          1
703          1
E915         1
754          1
E850         1
880          1
130          1
994          1
Name: diag_2, Length: 749, dtype: int64
250       11555
401        8289
276        5175
428        4577
427        3955
414        3664
496        2605
403        2357
585        1992
272        1969
599        1941
?          1423
V45        1389
250.02     1369
707        1360
780        1334
285        1200
425        1136
250.6      1080
424        1063
584         963
305         924
250.01      915
682         887
518         854
41          727
493         694
278         680
530         625
786         584
          ...
111           1
122           1
75            1
308           1
115           1
226           1
841           1
E854          1
385           1
750           1
E886          1
475           1
27            1
E853          1
674           1
877           1
811           1
697           1
875           1
158           1
123           1
49            1
E826          1
935           1
757           1
E815          1
47            1
732           1
744           1
E966          1
Name: diag_3, Length: 790, dtype: int64
None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64
None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64
No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64
No        100227
Steady      1384
Up           110
Down          45
Name: repaglinide, dtype: int64
No        101063
Steady       668
Up            24
Down          11
Name: nateglinide, dtype: int64
No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64
No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64
No        101765
Steady         1
Name: acetohexamide, dtype: int64
No        89080
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64
No        91116
Steady     9274
Up          812
Down        564
Name: glyburide, dtype: int64
No        101743
Steady        23
Name: tolbutamide, dtype: int64
No        94438
Steady     6976
Up          234
Down        118
Name: pioglitazone, dtype: int64
No        95401
Steady     6100
Up          178
Down         87
Name: rosiglitazone, dtype: int64
No        101458
Steady       295
Up            10
Down           3
Name: acarbose, dtype: int64
No        101728
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64
No        101763
Steady         3
Name: troglitazone, dtype: int64
No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64
No    101766
Name: examide, dtype: int64
No    101766
Name: citoglipton, dtype: int64
No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64
No        101060
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64
No        101753
Steady        13
Name: glipizide-metformin, dtype: int64
No        101765
Steady         1
Name: glimepiride-pioglitazone, dtype: int64
No        101764
Steady         2
Name: metformin-rosiglitazone, dtype: int64
No        101765
Steady         1
Name: metformin-pioglitazone, dtype: int64
No    54755
Ch    47011
Name: change, dtype: int64
Yes    78363
No     23403
Name: diabetesMed, dtype: int64
NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### Replace all '?' values with None

In [35]:
diabetes_df.replace(to_replace='?', value = np.nan, inplace=True)

In [36]:
value_count_dict = {x:diabetes_df[x].value_counts() for x in categorical_vars}

In [37]:
value_count_dict

{'race': Caucasian          76099
 AfricanAmerican    19210
 Hispanic            2037
 Other               1506
 Asian                641
 Name: race, dtype: int64, 'gender': Female             54708
 Male               47055
 Unknown/Invalid        3
 Name: gender, dtype: int64, 'age': [70-80)     26068
 [60-70)     22483
 [50-60)     17256
 [80-90)     17197
 [40-50)      9685
 [30-40)      3775
 [90-100)     2793
 [20-30)      1657
 [10-20)       691
 [0-10)        161
 Name: age, dtype: int64, 'weight': [75-100)     1336
 [50-75)       897
 [100-125)     625
 [125-150)     145
 [25-50)        97
 [0-25)         48
 [150-175)      35
 [175-200)      11
 >200            3
 Name: weight, dtype: int64, 'payer_code': MC    32439
 HM     6274
 SP     5007
 BC     4655
 MD     3532
 CP     2533
 UN     2448
 CM     1937
 OG     1033
 PO      592
 DM      549
 CH      146
 WC      135
 OT       95
 MP       79
 SI       55
 FR        1
 Name: payer_code, dtype: int64, 'medical_specialty': InternalMedicine                     14635
 Emergency/Trauma                      7565
 Family/GeneralPractice                7440
 Cardiology                            5352
 Surgery-General                       3099
 Nephrology                            1613
 Orthopedics                           1400
 Orthopedics-Reconstructive            1233
 Radiologist                           1140
 Pulmonology                            871
 Psychiatry                             854
 Urology                                685
 ObstetricsandGynecology                671
 Surgery-Cardiovascular/Thoracic        652
 Gastroenterology                       564
 Surgery-Vascular                       533
 Surgery-Neuro                          468
 PhysicalMedicineandRehabilitation      391
 Oncology                               348
 Pediatrics                             254
 Hematology/Oncology                    207
 Neurology                              203
 Pediatrics-Endocrinology               159
 Otolaryngology                         125
 Endocrinology                          120
 Surgery-Thoracic                       109
 Psychology                             101
 Podiatry                               100
 Surgery-Cardiovascular                  98
 Pediatrics-CriticalCare                 87
                                      ...
 Anesthesiology-Pediatric                19
 Obstetrics                              19
 Pathology                               17
 Rheumatology                            17
 Anesthesiology                          12
 OutreachServices                        12
 Surgery-Colon&Rectal                    11
 Surgery-Maxillofacial                   11
 PhysicianNotFound                       11
 Pediatrics-Neurology                    10
 Surgery-Pediatric                        8
 Endocrinology-Metabolism                 8
 AllergyandImmunology                     7
 Cardiology-Pediatric                     7
 Psychiatry-Child/Adolescent              7
 DCPTEAM                                  6
 Pediatrics-Hematology-Oncology           4
 Dentistry                                4
 Pediatrics-AllergyandImmunology          3
 Pediatrics-EmergencyMedicine             3
 Resident                                 2
 Perinatology                             1
 Surgery-PlasticwithinHeadandNeck         1
 Neurophysiology                          1
 Pediatrics-InfectiousDiseases            1
 Dermatology                              1
 Speech                                   1
 SportsMedicine                           1
 Psychiatry-Addictive                     1
 Proctology                               1
 Name: medical_specialty, Length: 72, dtype: int64, 'diag_1': 428       6862
 414       6581
 786       4016
 410       3614
 486       3508
 427       2766
 491       2275
 715       2151
 682       2042
 434       2028
 780       2019
 996       1967
 276       1889
 38        1688
 250.8     1680
 599       1595
 584       1520
 V57       1207
 250.6     1183
 518       1115
 820       1082
 577       1057
 493       1056
 435       1016
 562        989
 574        965
 296        896
 560        876
 250.7      871
 250.13     851
           ...
 E909         1
 325          1
 V70          1
 10           1
 145          1
 114          1
 366          1
 690          1
 412          1
 957          1
 347          1
 911          1
 827          1
 833          1
 375          1
 57           1
 V07          1
 671          1
 637          1
 V51          1
 915          1
 219          1
 391          1
 V43          1
 870          1
 207          1
 216          1
 791          1
 148          1
 994          1
 Name: diag_1, Length: 716, dtype: int64, 'diag_2': 276       6752
 428       6662
 250       6071
 427       5036
 401       3736
 496       3305
 599       3288
 403       2823
 414       2650
 411       2566
 250.02    2074
 707       1999
 585       1871
 584       1649
 491       1545
 250.01    1523
 285       1520
 780       1491
 425       1434
 682       1433
 486       1379
 518       1355
 424       1071
 413       1042
 250.6      895
 493        881
 305        702
 786        644
 280        606
 998        571
           ...
 917          1
 270          1
 E945         1
 232          1
 665          1
 843          1
 987          1
 944          1
 884          1
 316          1
 140          1
 E918         1
 893          1
 192          1
 871          1
 942          1
 E980         1
 E919         1
 605          1
 E817         1
 927          1
 88           1
 894          1
 347          1
 E854         1
 250.31       1
 E965         1
 704          1
 173          1
 994          1
 Name: diag_2, Length: 748, dtype: int64, 'diag_3': 250       11555
 401        8289
 276        5175
 428        4577
 427        3955
 414        3664
 496        2605
 403        2357
 585        1992
 272        1969
 599        1941
 V45        1389
 250.02     1369
 707        1360
 780        1334
 285        1200
 425        1136
 250.6      1080
 424        1063
 584         963
 305         924
 250.01      915
 682         887
 518         854
 41          727
 493         694
 278         680
 530         625
 786         584
 491         574
           ...
 111           1
 122           1
 75            1
 308           1
 115           1
 226           1
 841           1
 E854          1
 385           1
 750           1
 E886          1
 475           1
 27            1
 E853          1
 674           1
 877           1
 811           1
 697           1
 875           1
 158           1
 123           1
 49            1
 E826          1
 935           1
 757           1
 E815          1
 47            1
 732           1
 744           1
 E966          1
 Name: diag_3, Length: 789, dtype: int64, 'max_glu_serum': None    96420
 Norm     2597
 >200     1485
 >300     1264
 Name: max_glu_serum, dtype: int64, 'A1Cresult': None    84748
 >8       8216
 Norm     4990
 >7       3812
 Name: A1Cresult, dtype: int64, 'metformin': No        81778
 Steady    18346
 Up         1067
 Down        575
 Name: metformin, dtype: int64, 'repaglinide': No        100227
 Steady      1384
 Up           110
 Down          45
 Name: repaglinide, dtype: int64, 'nateglinide': No        101063
 Steady       668
 Up            24
 Down          11
 Name: nateglinide, dtype: int64, 'chlorpropamide': No        101680
 Steady        79
 Up             6
 Down           1
 Name: chlorpropamide, dtype: int64, 'glimepiride': No        96575
 Steady     4670
 Up          327
 Down        194
 Name: glimepiride, dtype: int64, 'acetohexamide': No        101765
 Steady         1
 Name: acetohexamide, dtype: int64, 'glipizide': No        89080
 Steady    11356
 Up          770
 Down        560
 Name: glipizide, dtype: int64, 'glyburide': No        91116
 Steady     9274
 Up          812
 Down        564
 Name: glyburide, dtype: int64, 'tolbutamide': No        101743
 Steady        23
 Name: tolbutamide, dtype: int64, 'pioglitazone': No        94438
 Steady     6976
 Up          234
 Down        118
 Name: pioglitazone, dtype: int64, 'rosiglitazone': No        95401
 Steady     6100
 Up          178
 Down         87
 Name: rosiglitazone, dtype: int64, 'acarbose': No        101458
 Steady       295
 Up            10
 Down           3
 Name: acarbose, dtype: int64, 'miglitol': No        101728
 Steady        31
 Down           5
 Up             2
 Name: miglitol, dtype: int64, 'troglitazone': No        101763
 Steady         3
 Name: troglitazone, dtype: int64, 'tolazamide': No        101727
 Steady        38
 Up             1
 Name: tolazamide, dtype: int64, 'examide': No    101766
 Name: examide, dtype: int64, 'citoglipton': No    101766
 Name: citoglipton, dtype: int64, 'insulin': No        47383
 Steady    30849
 Down      12218
 Up        11316
 Name: insulin, dtype: int64, 'glyburide-metformin': No        101060
 Steady       692
 Up             8
 Down           6
 Name: glyburide-metformin, dtype: int64, 'glipizide-metformin': No        101753
 Steady        13
 Name: glipizide-metformin, dtype: int64, 'glimepiride-pioglitazone': No        101765
 Steady         1
 Name: glimepiride-pioglitazone, dtype: int64, 'metformin-rosiglitazone': No        101764
 Steady         2
 Name: metformin-rosiglitazone, dtype: int64, 'metformin-pioglitazone': No        101765
 Steady         1
 Name: metformin-pioglitazone, dtype: int64, 'change': No    54755
 Ch    47011
 Name: change, dtype: int64, 'diabetesMed': Yes    78363
 No     23403
 Name: diabetesMed, dtype: int64, 'readmitted': NO     54864
 >30    35545
 <30    11357
 Name: readmitted, dtype: int64}